.mySwiper1 {
    width: 100%;
    height: 700px;


}
#con{
    height: 600px;
    width: 100%;
    display: flex;
  
    justify-content: space-between;
}

.mySwiper1.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100%;


}



.mySwiper1.swiper-button-prev,
.mySwiper1.swiper-button-next {
  background-color: white;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
}

.swiper-pagination-bullet{
    background-color: orangered !important;
    
}